@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

p {
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #201b2c;
}

body *{
    box-sizing: border-box;
}


form{
    display: flex;
}
/*
.container{
    
    min-height: 100%;
    background-color: #201b2c;
    
}
*/
h1{
    color:  #77ffc0;
    font-size: 3vw;
}

h2{
    color:  #d5ffeb;
}

h3{
    color:  #77ffc0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #242a6a; /* Cor de fundo da tabela */
}

th{
    border: 1px solid #dddddd;
    color:  #ffffff;
    text-align: left;
    padding: 8px;
}

td{
    border: 1px solid #dddddd;
    color:  #ffffff;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #005004; /* Cor de fundo do cabeçalho da tabela */
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #5351c6; /* Cor de fundo das linhas pares */
}

/* Estilizar os tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Estilizar o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(3, 174, 204, 0.7);
}

.modal-content {
    background-color: #201b2c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Estilo para a coluna do menu vertical */
.menu {
    width: 200px; /* Largura da coluna do menu */
    background-color: #333; /* Cor de fundo do menu */
    padding: 20px; /* Espaçamento interno */
    height: 100%; /* Altura total da coluna */
    position: fixed; /* Fixar a coluna à esquerda */
    overflow-y: auto; /* Adicionar uma barra de rolagem se necessário */
}

/* Estilo para os itens do menu */
.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin-bottom: 10px; /* Espaçamento entre os itens do menu */
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #555; /* Cor de fundo quando o mouse está sobre o item do menu */
}

/* Estilo para o conteúdo principal à direita do menu */
.content {
    margin-left: 220px; /* Largura da coluna do menu + espaço de margem */
    padding: 20px;
}

input{
    width: 100%;
    border:  none;
    border-radius: 10px;
    padding: 15px;
    
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    
    display: inline-block;
}

label{
    color: #f0ffffde;
    
}

button{
    width:25%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

#customers {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#avisodes{
    color: #ffee00;
}

#Consulta{
    color: #00ff88;
}

#avisosss{
    color: #00ff88;
}

/* Estilo para alinhar verticalmente os elementos */
.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.left-login {
    display: flex;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
}

.right-login {
    display: flex;
    justify-content: right;
    align-items: right;
    min-height: 100vh;
}

/* Estilo para o formulário de login */
html, body, .main-login {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #201b2c;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-login {
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    padding: 30px 35px 30px 30px;
    width: 60%;
    text-align: center;
    max-height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilo para os campos de entrada */
.textfield_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textfield_pass {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfield label {
    color: #f0ffffde;
}

.textfield input {
    width: 80%; /* Aumenta a largura dos inputs para 80% */
    border: none;
    
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    
}

/* Estilo para o botão de login */
.btn-login {
    width: 80%; /* Aumenta a largura do botão para 80% */
    padding: 16px 0px;
    margin: 10px auto; /* Centraliza o botão horizontalmente */
    border: none;
    border-radius: 10px; /* Arredonda os cantos do botão */
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/* Estilo para a mensagem de erro */
.error {
    color: red;
    margin-top: 10px;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: #504f4f;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
  
  .image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  
  .blue {
    border-left: 3px solid #4895ff;
  }
  
  .green {
    border-left: 3px solid #3bb54a;
  }
  
  .red {
    border-left: 3px solid #b3404a;
  }
  


 #saldoin100novomodelo{
        display: flex;
        flex-direction: column-reverse;
        isolation: isolate;
        position: relative;
        width: 10rem;
        height: 5rem;
        background:    #292c2c;
        border-radius: 1rem;
        overflow: hidden;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
        --color: #32a6ff
      }
      
      .notification:before {
        position: absolute;
        content: "";
        inset: 0.0625rem;
        border-radius: 0.9375rem;
        background: #18181b;
        z-index: 2
      }
      
      .notification:after {
        position: absolute;
        content: "";
        width: 0.25rem;
        inset: 0.65rem auto 0.65rem 0.5rem;
        border-radius: 0.125rem;
        background: var(--gradient);
        transition: transform 300ms ease;
        z-index: 4;
      }
      
      .notification:hover:after {
        transform: translateX(0.15rem)
      }
      
      .notititle {
        color: var(--color);
        padding: 0.65rem 0.25rem 0.4rem 1.25rem;
        font-weight: 500;
        font-size: 1.1rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      
      .notification:hover .notititle {
        transform: translateX(0.15rem)
      }
      
      .notibody {
        color: #99999d;
        padding: 0 1.25rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      
      .notification:hover .notibody {
        transform: translateX(0.25rem)
      }
      
      .notiglow,
      .notiborderglow {
        position: absolute;
        width: 20rem;
        height: 20rem;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle closest-side at center, white, transparent);
        opacity: 0;
        transition: opacity 300ms ease;
      }
      
      .notiglow {
        z-index: 3;
      }
      
      .notiborderglow {
        z-index: 1;
      }
      
      .notification:hover .notiglow {
        opacity: 0.1
      }
      
      .notification:hover .notiborderglow {
        opacity: 0.1
      }
      
      .note {
        color: var(--color);
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.9rem;
        width: 75%;
      }
 



      #saldodesnovomodelo{
        display: flex;
        flex-direction: column-reverse;
        isolation: isolate;
        position: static;
        width: 10rem;
        height: 5rem;
        background:    #292c2c;
        border-radius: 1rem;
        overflow: hidden;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
        --color: #32a6ff
      }
      
      .notification:before {
        position: absolute;
        content: "";
        inset: 0.0625rem;
        border-radius: 0.9375rem;
        background: #18181b;
        z-index: 2
      }
      
      .notification:after {
        position: absolute;
        content: "";
        width: 0.25rem;
        inset: 0.65rem auto 0.65rem 0.5rem;
        border-radius: 0.125rem;
        background: var(--gradient);
        transition: transform 300ms ease;
        z-index: 4;
      }
      
      .notification:hover:after {
        transform: translateX(0.15rem)
      }
      
      .notititle {
        color: var(--color);
        padding: 0.65rem 0.25rem 0.4rem 1.25rem;
        font-weight: 500;
        font-size: 1.1rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      
      .notification:hover .notititle {
        transform: translateX(0.15rem)
      }
      
      .notibody {
        color: #99999d;
        padding: 0 1.25rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      
      .notification:hover .notibody {
        transform: translateX(0.25rem)
      }
      
      .notiglow,
      .notiborderglow {
        position: absolute;
        width: 20rem;
        height: 20rem;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle closest-side at center, white, transparent);
        opacity: 0;
        transition: opacity 300ms ease;
      }
      
      .notiglow {
        z-index: 3;
      }
      
      .notiborderglow {
        z-index: 1;
      }
      
      .notification:hover .notiglow {
        opacity: 0.1
      }
      
      .notification:hover .notiborderglow {
        opacity: 0.1
      }
      
      .note {
        color: var(--color);
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.9rem;
        width: 75%;
      }
 


      #saldofgtrsnovo{
        display: flex;
        flex-direction: column-reverse;
        isolation: isolate;
        position: static;
        width: 10rem;
        height: 5rem;
        background:    #292c2c;
        border-radius: 1rem;
        overflow: hidden;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 10px;
        --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
        --color: #32a6ff
      }
      
      .notification:before {
        position: absolute;
        content: "";
        inset: 0.0625rem;
        border-radius: 0.9375rem;
        background: #18181b;
        z-index: 2
      }
      
      .notification:after {
        position: absolute;
        content: "";
        width: 0.25rem;
        inset: 0.65rem auto 0.65rem 0.5rem;
        border-radius: 0.125rem;
        background: var(--gradient);
        transition: transform 300ms ease;
        z-index: 4;
      }
      
      .notification:hover:after {
        transform: translateX(0.15rem)
      }
      
      .notititle {
        color: var(--color);
        padding: 0.65rem 0.25rem 0.4rem 1.25rem;
        font-weight: 500;
        font-size: 1.1rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      
      .notification:hover .notititle {
        transform: translateX(0.15rem)
      }
      
      .notibody {
        color: #99999d;
        padding: 0 1.25rem;
        transition: transform 300ms ease;
        z-index: 5;
      }
      
      .notification:hover .notibody {
        transform: translateX(0.25rem)
      }
      
      .notiglow,
      .notiborderglow {
        position: absolute;
        width: 20rem;
        height: 20rem;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle closest-side at center, white, transparent);
        opacity: 0;
        transition: opacity 300ms ease;
      }
      
      .notiglow {
        z-index: 3;
      }
      
      .notiborderglow {
        z-index: 1;
      }
      
      .notification:hover .notiglow {
        opacity: 0.1
      }
      
      .notification:hover .notiborderglow {
        opacity: 0.1
      }
      
      .note {
        color: var(--color);
        position: fixed;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 0.9rem;
        width: 75%;
      }

