{% extends "base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
  h2 {
      color: #d5ffeb;
  }
  h5 {
      color: #ffffff;
  }
  b, td {
      color: #000000;
  }

  .loader {
    color: rgb(124, 124, 124);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .words {
    overflow: hidden;
  }

  .word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin_4991 4s infinite;
  }

  @keyframes spin_4991 {
    20% {
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);
    }

    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    35% {
      -webkit-transform: translateY(-205%);
      transform: translateY(-205%);
    }

    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

    60% {
      -webkit-transform: translateY(-305%);
      transform: translateY(-305%);
    }

    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

    85% {
      -webkit-transform: translateY(-405%);
      transform: translateY(-405%);
    }

    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

</style>
<body>
  <h2>Consulta IN100</h2>
  <h5 id="h5">Aviso: consulta demora em torno de 20 segundos para retorno de dados.</h5> <br>
  <p class="saldo-info-dist">IN100: {{ creditos_in100 }}</p>
  <div class="container">
    <form action="" method="post" onsubmit="showLoading()">
      <input type="text" name="CPF" placeholder="CPF">
      <input type="text" name="NB" placeholder="Número do benefício:">
      <input type="text" name="cpf_rep" placeholder="CPF Representante (Opcional):">
      <button type="submit">Pesquisar</button>
    </form>
    
    <script>
      function showLoading() {
          // Mostrar a janela de carregamento
          $("#loading-overlay").show();
    }
    </script>

    <div id="loading-overlay" style="display:none;">
      <div class="loader">
        <p>Carregando</p>
        <div class="words">
            <span class="word">cliente</span>
            <span class="word">dados</span>
            <span class="word">atualização</span>
            <span class="word">in100</span>
            <span class="word">juntando as informações</span>
        </div>
      </div>
    </div>

    {% if resultado %}
      <script>$("#loading").hide();</script>
      <h2>Resultado pesquisa:</h2>
        <br>
          <table id="customers">
              {% if resultado['Status'] == 200 %}
                {% for chave in resultado['Resultado'] %}
                  <tr>
                    <td><b>{{chave.upper()}}</b> : {{resultado['Resultado'][chave]}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <h3>{{resultado['Resultado']}}</h3>
              {% endif %}
          </table>
    {% endif %}
  </div>
</body>
{% endblock %}

{% set page_title = "Elite - Painel" %}
