{% extends "base.html" %}

{% block content %}
<style>
  h2, h4 {
      color: #d5ffeb;
  }
  b, td {
      color: #000000;
  }
  button {
    width: 200%
  }
  .nome_input {
    margin: 15px;
    width: 200%
  }
  .erro {
    color: rgb(255, 228, 208);
  }
  .texto_central {
    text-align: center;
  }
</style>
<body>
  <h2>Consulta Nome</h2>
  <h5 id="h5">Aviso: consulta demora em torno de 30 segundos para retorno de dados.</h5>
  <div class="container">
    <form action="" method="post">
      <input class="nome_input" type="text" name="Nome" placeholder="Nome">
      <button type="submit">Pesquisar</button>
    </form>
    {% if resultado %}
      <h2>Resultado pesquisa:</h2>
        <br>
          <table id="customers">
              {% if resultado['status'] == 'success' %}
                {% for x in resultado['results'] %}
                  <tr>
                    <td><b>CPF</b> : {{x['CPF']}}</td>
                    <td><b>Nome completo</b> : {{x['NOME']}}</td>
                    <td><b>Sexo</b> : {{x['SEXO']}}</td>
                    <td><b>Data de nascimento</b> : {{x['NASC']}}</td>
                    <td><b>Nome da Mãe</b> : {{resultado['results']['NOME_MAE']}}</td>
                    <td><b>Nome do Pai</b> : {{resultado['results']['NOME_PAI']}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <h3>{{resultado}}</h3>
              {% endif %}
          </table>
    {% endif %}
    {% if erro %}
    <h5 class="erro">{{ erro }}</h5>
    {% endif %}
  </div>
</body>
{% endblock %}

{% set page_title = "Elite - BUSCA NOME" %}