{% extends "base.html" %}

{% block content %}
<style>
  h2 {
      color: #d5ffeb;
  }
  b, td {
      color: #ffffff;
  }
</style>
<body>
  <h2>Consulta FGTS</h2>
  <h5 id="h5">Aviso: consulta demora em torno de 20 segundos para retorno de dados.</h5>
  <div class="container">
    <form action="" method="post">
      <input type="text" name="CPF" placeholder="CPF">
      <button type="submit">Pesquisar</button>
    </form>
    {% if resultado %}
      <h2>Resultado pesquisa:</h2>
        <br>
          <table id="customers">
              {% if resultado['Status'] == 200 %}
                {% for chave in resultado['Resultado'] %}
                  <tr>
                    <td><b>{{chave.upper()}}</b> : {{resultado['Resultado'][chave]}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                <h3>{{resultado['Resultado']}}</h3>
              {% endif %}
          </table>
    {% endif %}
    {% if lista_pendente %}
    <h2>Histórico:</h2>
    <h5 id="h5">Aviso: historico com retorno dos ultimos 25 registros.</h5>
        <body>
            <table>
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Status do Processo</th>
                        <th>Última atualização</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lp in lista_pendente %}
                        <tr>
                            <td>{{ lp[0] }}</td>
                            <td>{{ lp[1] }}</td>
                            <td>{{ lp[2] }}</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </body>
    {% endif %}
  </div>
</body>
{% endblock %}

{% set page_title = "Elite - FGTS" %}