
{% extends "base.html" %}


{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<body>
  <h2>Bem vindos a Elite!</h2>
  <p>LOTE FGTS DISPONIVEL NO PAINEL.</p>
  <br>

  <br>
  {% if creditos_in100 %}
    <div id="saldoin100novomodelo">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <div class="notititle">
          <p class="saldo-info-dist">IN100: {{ creditos_in100 }}</p>
        </div>
    </div>
  {% endif %}
  <br>
  {% if saldo_desbloqueio %}
    <div id="saldoin100novomodelo">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <div class="notititle">
          <p class="saldo-info-dist">Desbloqueio: {{ saldo_desbloqueio }}</p>
        </div>
    </div>
  {% endif %}
  <br>
  {% if creditos_in100_lote %}
    <div id="saldoin100novomodelo">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <div class="notititle">
          <p class="saldo-info-dist">IN100 Lote: {{ creditos_in100_lote }}</p>
        </div>
    </div>
  {% endif %}
  <br>
  {% if creditos_fgts_lote %}
    <div id="saldoin100novomodelo">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <div class="notititle">
          <p class="saldo-info-dist">FGTS Lote: {{ creditos_fgts_lote }}</p>
        </div>
    </div>
  {% endif %}
</body>
{% endblock %}
{% set page_title = "Elite - Painel" %}
